body{
    background-image: url("realtimeclockbackground.jpg");
   
}
.realclock{
    align-content: center;
    margin-top:150px;
    margin-left: 180px;;
    font-size: 200px; 
    font-weight: bold; 
    color:#00C5FF; 
    background-color:whitesmoke; 
    border-radius: 150px;
    border-style: double; 
    padding: 20px; 
    opacity: 0.8;
    display: inline-block; 

}
/* .textelem{
    font-size:xx-large;
    height:20%;
    width:20%;

} */