body{
    background-image: url("realtimeclockbackground.jpg");
   
}
#stopwatch{
    align-content: center;
    margin-top:150px;
    margin-left: 200px;;
    font-size: 150px; 
    font-weight: bold; 
    color:#00C5FF; 
    background-color:whitesmoke; 
    border-radius: 150px;
    border-style: double; 
    padding: 20px; 
    opacity: 0.8;
    display: inline-block; 
    width: 900px;

}
.buttoncontainer{
    margin-left: 500px;
}
button{
    background-color:#00c5ff;
    color:aliceblue;
    padding: 10px;
    font-size: x-large;
    border-radius: 20px;
    border-color: white;
}
/* #start-stop :hover{
    background-color: yellow;
} */
form :hover{
    background-color: #005eff;
    color:aliceblue;
    
}